html,body {
  height: 100%;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-size: 3rem;
  font-family: 'Arial';
  background-color: #CCDBDC;
}
.clock-wrap {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cube {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  width: 4em;
  height: 4em;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: 0.5s all;
}
.face {
  color: white;
  opacity: 0.9;
  position: absolute;
  width: 4em;
  height: 4em;
  line-height: 4em;
  text-align: center;
}
.face-front {
  transform: rotateX(0deg) translateZ(2em);
  background-color: #003249;
}
.face-top {
  background-color: #9AD1D4;
  transform: rotateX(90deg) translateZ(2em);
}
.face-back {
  background-color: #80CED7;
  transform: rotateX(180deg) translateZ(2em);
}
.face-bottom {
  background-color: #007EA7;
  transform: rotateX(270deg) translateZ(2em);
}

#logo {
  z-index: 99;
  position: fixed;
  left: 50%;
  top: 1em;
  transform: translate(-50%);
}
#logo img {
  width: 1em;
  height: 1em;
}

.phrase {
  font-family: 'Gaegu', cursive;
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

@media only screen and (max-width: 810px) {
  body {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 550px) {
  body {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 275px) {
  .clock {
    flex-direction: column;
  }
}
